//color palette

$color-red-one: #EF6369;
$color-red-two: #E56067;

$color-white-one: #FFFFFF;
$color-white-two: #FAFAFA;

$color-grey-zero: #878282;
$color-grey-one: #393D3E;
$color-grey-two: #313638;
$color-grey-three: #262B2C;

$color-yellow-one: #F5AC72;

$color-black-one: #000000;


//fonts

$font-one: "Inter", sans-serif;