@import '../../../variables.scss';

.login{
    background-color: #393D3E;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login__logo {
    width: 50%;
    margin-top: -15%;
    margin-bottom: 5%;
}


.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__text-mail{
    font-family: $font-one;
    color: $color-white-one;
    font-size: 1.5rem;
    margin-left: -110%;
}

.login__input-mail, .login__input-pass{
    width: 150%;
    height: 20px;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid $color-grey-zero;
    background-color: $color-grey-two;
    border-radius: 10px;
    color: $color-white-one;
}

.login__text-pass{
    font-family: $font-one;
    color: $color-white-one;
    font-size: 1.5rem;
    margin-left: -85%;
}


.login__button{
    width: 60%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: none;
    color: $color-white-one;
    background-color: $color-red-one;
    font-family: $font-one;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background-color: $color-red-two;
    }
    &:active{
        background-color: $color-white-one;
        color: $color-red-two;
    }
}

.login__error-message{
    color: $color-red-one;
    font-size: 1rem;
    font-family: $font-one;
    margin-top: -13px;

}
    