<main class="login">
    <img class="login__logo" src="../../../../assets/LOGO.png" alt="BQ-Logo">

    <form class="login__form" action="">

        <h3 class="login__text-mail"><img class="login__svg" src="" alt="">Your email</h3>
        <input class="login__input-mail" type="text" required>
        <h3 class="login__text-pass"><img class="login__svg" src="" alt="">Your password</h3>
        <input class="login__input-pass" type="text" required>
        <button class="login__button">Login</button>
    </form>
</main>
